html {
  font-size: 16px;
}

@media (max-width: 991px) {
  html {
    font-size: 14px;
  }
}

body {
  background-color: #eeeeee;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10rem;
  padding: 0 7.5%;
}

@media (max-width: 991px) {
  .container {
    padding: 0 5.5%;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 1.5rem;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.mb-2 {
  margin-bottom: 2rem;
}

.main-header {
  background-color: #ffe600;
  padding: 0.7rem 0;
}

.main-header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header__logo img {
  height: 40px;
}

.main-header__search {
  padding-left: 1.5rem;
  width: 100%;
}

.main-header__search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header__search input {
  background-color: white;
  border: none;
  padding: 0 1rem;
  height: 40px;
  width: 100%;
  border-radius: 0.4rem 0 0 0.4rem;
  font-size: 1.1rem;
}

.main-header__search input::-webkit-input-placeholder {
  color: #999999;
}

.main-header__search input:-ms-input-placeholder {
  color: #999999;
}

.main-header__search input::-ms-input-placeholder {
  color: #999999;
}

.main-header__search input::placeholder {
  color: #999999;
}

.main-header__search button {
  background-color: #eeeeee;
  border: none;
  padding: 0 1rem;
  height: 40px;
  border-radius: 0 0.4rem 0.4rem 0;
  cursor: pointer;
}

.main-header__search button img {
  height: 1rem;
}

.breadcrums {
  color: #666666;
  padding: 1rem 0;
  font-size: 0.9rem;
  font-weight: 400;
}

.breadcrums__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrums__item:last-child span {
  display: none;
}

.breadcrums__separator {
  margin: 0 0.5rem;
}

@media (max-width: 767px) {
  .breadcrums__item {
    display: none;
  }
  .breadcrums__item:last-child {
    display: initial !important;
  }
}

.main-card {
  background-color: white;
  border-radius: 0.4rem;
  padding: 1rem;
  margin-bottom: 7rem;
  -webkit-box-shadow: 0 10px 20px -10px #00000010;
          box-shadow: 0 10px 20px -10px #00000010;
}

.card-product {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-product:first-child {
  padding-top: 0;
}

.card-product:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.card-product__image img {
  margin-right: 1rem;
  width: 180px;
  height: 180px;
  border-radius: 0.4rem;
}

@media (max-width: 991px) {
  .card-product__image img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 767px) {
  .card-product__image img {
    width: 120px;
    height: 120px;
  }
}

.card-product__information {
  width: 100%;
  padding-top: 1rem;
}

.card-product__information .price {
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 1.6rem;
}

@media (max-width: 991px) {
  .card-product__information .price {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
  }
}

.card-product__information .name {
  font-size: 1.1rem;
  max-width: 60%;
}

@media (max-width: 991px) {
  .card-product__information .name {
    max-width: 750%;
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .card-product__information .name {
    max-width: 100%;
  }
}

.card-product__information a {
  color: inherit;
  text-decoration: none;
}

.card-product__freeship {
  height: 1.5rem;
  margin-left: 1rem;
}

@media (max-width: 991px) {
  .card-product__freeship {
    height: 1.2rem;
    margin-left: 1rem;
  }
}

.card-product__location {
  padding-top: 1rem;
  width: 280px;
  font-size: 0.8rem;
}

@media (max-width: 767px) {
  .card-product__location {
    display: none;
  }
}

.product-gallery {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

@media (max-width: 767px) {
  .product-gallery {
    padding-right: 0;
    min-width: 100%;
  }
}

.product-gallery__picture {
  min-width: 680px;
  min-height: 680px;
  border-radius: 0.4rem;
}

@media (max-width: 1200px) {
  .product-gallery__picture {
    min-width: 500px;
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .product-gallery__picture {
    min-width: 400px;
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .product-gallery__picture {
    min-width: initial;
    min-height: initial;
    width: 100%;
    height: 100%;
  }
}

.product-pricing {
  padding: 1rem 0;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.product-pricing__sold {
  font-size: 0.8rem;
  display: inline-block;
  margin-bottom: 0.8rem;
}

.product-pricing__title {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  line-height: 1.8rem;
}

.product-pricing__price {
  font-size: 2.8rem;
  display: inline-block;
  width: 100%;
  margin-bottom: 1.6rem;
}

.product-pricing__buy {
  background-color: #3483fa;
  border: none;
  padding: 1rem 5rem;
  color: white;
  font-size: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.product-description {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 767px) {
  .product-description {
    padding-left: 0;
  }
}

.product-description__title {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

.product-description__text {
  line-height: 1.2rem;
  max-width: 680px;
}
/*# sourceMappingURL=style.css.map */